Add application/xml to ContentType

**Describe the feature**
Right now ContentType only supports `text/xml`. 
[RFC7303 section 9.1](https://www.rfc-editor.org/info/rfc7303/#section-9.1) describes `application/xml` and [section 9.2](https://www.rfc-editor.org/info/rfc7303/#section-9.2) describes `text/xml` to basically be an alias for `application/xml`.

It would be great if both `text/xml` AND `application/xml` would be supported in `io.javalin.http.ContentType`, both in the enum and in the companion object.

**Additional context**
`application/xml` is often use as a transfer object between applications.

